---
interface Props {
    title: string;
    description: string;
    left: boolean;
    iconHref: string;
}

const { title, description, left, iconHref } = Astro.props;
const svgFilePath = "../../../../services/web-design/svg/";
const svgFile = svgFilePath + iconHref;
---

<div
    class="bg-web-foreground p-5 drop-shadow-lg rounded-xl basis-full insert-animation"
>
    <div class="flex flex-row justify-around items-center h-full">
        {left && <img src={svgFile} width="20%" height="20%" />}

        <div class="w-1/2">
            <h1 class="text-2xl font-bold mb-3">{title}</h1>
            <p class="text-web-copy-light text-sm lg:text-md">
                {description}
            </p>
        </div>
        {!left && <img src={svgFile} width="20%" height="20%" />}
    </div>
</div>

<script>
    import gsap from "gsap";
    let tl = gsap.timeline();
    tl.from(".insert-animation", {
        scrollTrigger: {
            trigger: ".insert-animation",
            start: "-200 center",
            end: "bottom center",
            scrub: 1,
        },
        x: -100,
        opacity: 0,
        stagger: 0.5,
    });
</script>
