---

---

<div class="bg-web-foreground p-5 drop-shadow-lg rounded-xl">
    <div class="flex flex-row justify-around items-center">
        <div class="w-[25px] h-[25px] bg-gray-500 rounded-full">
            <!-- <img src="#" /> -->
        </div>
        <div class="text-center w-1/2">
            <h1 class="text-2xl font-bold">Lorem ipsum dolor sit.</h1>
            <p class="text-web-copy-light text-sm lg:text-md">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Mollitia facere perspiciatis est, reprehenderit reiciendis hic,
                distinctio voluptatem quos animi, culpa ratione dolorum expedita
                beatae magnam.
            </p>
        </div>
    </div>
</div>
