---
import ValorantLayout from "../../../layouts/ValorantLayout.astro";
import ServiceOptionSection from "../../../components/services/valorant/ServiceOptionSection.jsx";
import ServiceCard from "../../../components/services/valorant/ServiceCard.astro";
import QnABar from "../../../components/services/valorant/QnABar.astro";
---

<ValorantLayout title="Tom Valorant Boosting Service Malaysia">
  <main>
    <!-- top banner -->
    <div class="font-bold">
      <div class="justify-center flex flex-col items-center bg-red-500 py-10">
        <h1 class="text-8xl">
          <span class="valo-font">Tom</span> Valorant Boosting
        </h1>
        <h2 class="text-3xl">
          Fast, safe, and anonymous Valorant rank boost service in Malaysia
        </h2>
      </div>
    </div>
    <!-- seperator -->
    <div class="my-10"></div>
    <!-- services available -->
    <ServiceOptionSection client:load transition:persist />
  </main>
  <!-- seperator -->
  <div class="my-10"></div>
  <!-- Extra Add On -->
  <section class="mx-10">
    <div class="flex justify-center items-center">
      <h1
        class="text-2xl bg-red-500 px-5 py-2 rounded-xl mb-5 font-bold text-shadow"
      >
        Add On
      </h1>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-x-5 gap-y-5">
      <ServiceCard
        title="Time Scheduling"
        imgHref="https://placehold.co/400x400"
        link="#"
        description={[
          "schedule booster time to logon/logoff",
          "to fit your playtime",
          "Cost : FREE",
        ]}
      />
      <ServiceCard
        title="Express Order"
        imgHref="https://placehold.co/400x400"
        link="#"
        description={[
          "prioritize and put a deadline on your order",
          "Cost : 1.2x - 2x total ",
          "( depends on deadline )",
        ]}
      />
      <ServiceCard
        title="Agent Request"
        imgHref="https://placehold.co/400x400"
        link="#"
        description={[
          "Request a specific agent to play",
          "Cost : RM 5 - RM 10 ",
          "( depends on agent )",
        ]}
      />
    </div>
  </section>

  <!-- seperator -->
  <div class="my-10"></div>
  <!-- QnA -->
  <div>
    <h2 class="text-4xl ml-5 mb-5">Frequently Asked Questions</h2>
    <div class="flex flex-col justify-center items-center gap-y-5 mx-10">
      <QnABar
        question="Is this service safe?"
        answer="Yes, we are a professional Valorant boosting service provider in Malaysia. We have been in the business for years and have served hundreds of customers. "
      />

      <QnABar
        question="Is this service safe?"
        answer="Yes, we are a professional Valorant boosting service provider in Malaysia. We have been in the business for years and have served hundreds of customers. "
      />

      <QnABar
        question="Is this service safe?"
        answer="Yes, we are a professional Valorant boosting service provider in Malaysia. We have been in the business for years and have served hundreds of customers. "
      />

      <QnABar
        question="Is this service safe?"
        answer="Yes, we are a professional Valorant boosting service provider in Malaysia. We have been in the business for years and have served hundreds of customers. "
      />
    </div>
  </div>
</ValorantLayout>
