---
import ValorantLayout from "../../../layouts/ValorantLayout.astro";
---

<ValorantLayout title="Tom Valorant Boosting Service Malaysia">
  <main>
    <!-- top banner -->
    <div class="font-bold">
      <div class="justify-center flex flex-col items-center bg-red-500 py-10">
        <h1 class="text-8xl">
          <span class="valo-font">Tom</span> Valorant Boosting
        </h1>
        <h2 class="text-3xl">
          Fast, safe, and anonymous Valorant rank boost service in Malaysia
        </h2>
      </div>
    </div>
    <!-- seperator -->
    <div class="my-10"></div>
    <!-- services available -->
    <div>
      <ul class="flex flex-row gap-x-5 justify-center items-center">
        <li>By Rank</li>
        <li>By Per Win</li>
        <li>Agent Request</li>
        <li>Time scheduling</li>
        <li>Express Order</li>
      </ul>
      <!-- seperator -->
      <div class="my-10"></div>
      <!-- Info Section -->
      <div>Rank Boosting is by rank</div>
      <img src="https://placehold.co/600x600" />
      <a href="#">Contact Us Now!</a>
      <!-- seperator -->
      <div class="my-10"></div>
      <!-- QnA -->
      <div>
        <h2 class="text-4xl">Frequently Asked Questions</h2>
        <ul>
          <li>
            <h3 class="text-2xl">Is this service safe?</h3>
            <p>
              Yes, we are a professional Valorant boosting service provider in
              Malaysia. We have been in the business for years and have served
              hundreds of customers.
            </p>
          </li>
          <li>
            <h3 class="text-2xl">
              How long does it take to complete the order?
            </h3>
            <p>
              It depends on the order type and the current order queue. We will
              provide an estimated time of completion once the order is placed.
            </p>
          </li>
          <li>
            <h3 class="text-2xl">Can I play with the booster?</h3>
            <p>
              Yes, you can play with the booster if you choose the duo queue
              option. We also provide a time scheduling option for you to play
              with the booster at your preferred time.
            </p>
          </li>
          <li>
            <h3 class="text-2xl">What if I have more questions?</h3>
            <p>
              You can contact us via WhatsApp, email, or live chat. Our customer
              service team will be happy to assist you.
            </p>
          </li>
        </ul>
      </div>
    </div>
    <!-- seperator -->
    <div class="my-10"></div>
  </main>
</ValorantLayout>
