---
import ValorantLayout from "../../../layouts/ValorantLayout.astro";
import ValoBtn from "../../../components/services/valorant/ValoBtn.astro";
import ServiceCard from "../../../components/services/valorant/ServiceCard.astro";
import ReviewCard from "../../../components/services/valorant/ReviewCard.astro";
import ContactIcon from "../../../components/services/valorant/ContactIcon.astro";
---

<ValorantLayout
  title="Tom Valorant Services Malaysia - More Services Available"
>
  <main>
    <!-- transparent navigation bar with right side writing TOM -->

    <section class="bg-gray-900 relative">
      <div class="container mx-auto px-2 md:px-12 lg:px-16 xl:px-24 py-24">
        <div class="flex flex-col md:flex-row items-center">
          <div class="md:w-1/2">
            <img
              src="https://via.placeholder.com/600x400"
              alt="Valorant gameplay scene"
              class="rounded-lg shadow-lg"
            />
          </div>
          <div class="md:w-1/2 md:pl-12 mt-8 md:mt-0">
            <h1
              class="text-center md:text-left text-5xl lg:text-6xl font-bold mb-4 text-white valo-font"
            >
              Tom Valorant Boosting
            </h1>
            <p class="text-lg md:text-xl mb-8 text-white">
              You know its fucked, when only you can make the cluth...
            </p>
            <!-- make the valorant button at here -->
            <ValoBtn />
          </div>
        </div>
      </div>
    </section>
    <section class="bg-red-700 lg:py-24 py-12" id="top-banner">
      <div class="container mx-auto px-6 md:px-12 lg:px-16 xl:px-24">
        <h1
          class="text-4xl md:text-7xl lg:text-8xl font-bold mb-8 text-center text-white bg-clip-text bg-gradient-to-r from-red-500 to-orange-500"
        >
          Escape From Trash Teammate NOW
        </h1>
      </div>
    </section>
    <!-- seperator -->
    <div class="my-10"></div>
    <section class="bg-gray-900" id="features">
      <div class="mx-auto px-6 md:px-12 lg:px-16 xl:px-24">
        <h2
          class="text-4xl md:text-5xl lg:text-6xl font-bold mb-8 text-center text-white"
        >
          Our Services
        </h2>

        <div id="services-box" class="grid grid-cols-1 lg:grid-cols-3 gap-6">
          <!-- services paste here -->

          <ServiceCard
            title="Rank Services"
            imgHref="https://via.placeholder.com/400x400"
            description={["Boosting Services", "Deranking Services"]}
            link="./valorant/boost"
          />
          <ServiceCard
            title="Grinding Services"
            imgHref="/services/valorant/rankup.png"
            description={["Battlepass grind", "Level Up grind"]}
            link="./valorant/grind"
          /><ServiceCard
            title="Coaching Services"
            imgHref="/services/valorant/kayo.png"
            description={["Video Review", "Live Coaching"]}
            link="./valorant/coach"
          />
        </div>
      </div>
    </section>
    <!-- seperator -->
    <div class="my-10"></div>
    <!-- make a "Who Are We" Section -->
    <section class="bg-gray-900" id="about">
      <div class="container mx-auto px-6 md:px-12 lg:px-16 xl:px-24">
        <h2
          class="text-4xl md:text-5xl lg:text-6xl font-bold mb-8 text-center text-white"
        >
          Who Are We
        </h2>
        <div class="flex flex-col md:flex-row items-center">
          <div class="md:w-1/2">
            <img
              src="/services/valorant/whoarewe.jpeg"
              alt="Valorant gameplay scene"
              class="rounded-lg shadow-lg"
            />
          </div>
          <div class="md:w-1/2 md:pl-12 mt-8 md:mt-0">
            <p class="text-lg md:text-xl mb-8 text-white">
              We are a team of professional Valorant players who have been
              playing the game since the beta. We have achieved the highest
              ranks in the game and have been competing in various tournaments
              and leagues. We have been providing boosting services for over 3
              years and have helped thousands of players achieve their desired
              ranks.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-gray-900" id="testimonials">
      <div class="max-w-screen-lg mx-auto px-4 py-16 container">
        <h2
          class="text-4xl md:text-5xl lg:text-6xl font-bold mb-8 text-center text-white valo-font"
        >
          Top Careers
        </h2>
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8"
          id="testi-box"
        >
          <!-- testi card here -->
          <ReviewCard
            caption="Radiant order finished in Jan-2024"
            img="/services/valorant/rad1.jpg"
            href="#"
          />
          <ReviewCard
            caption="Radiant order finished in Jan-2024"
            img="/services/valorant/rad1.jpg"
            href="#"
          />
          <ReviewCard
            caption="Radiant order finished in Jan-2024"
            img="/services/valorant/rad1.jpg"
            href="#"
          />
          <ReviewCard
            caption="Radiant order finished in Jan-2024"
            img="/services/valorant/rad1.jpg"
            href="#"
          />
        </div>
      </div>
    </section>
  </main>
</ValorantLayout>
