---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tomato Wilbur Yap's Shop">
    <div class="flex flex-col h-[80vh] justify-center items-center">
        <h1>Hello and Welcome</h1>
        <p>100% quality and verified product & services by me</p>
        <div class="flex flex-col items-center justify-center">
            <a class="text-pink-500 underline" href="/services/valorant"
                >Valorant Services</a
            >
            <a class="text-pink-500 underline" href="/services/web-design"
                >Web Design Services</a
            >
        </div>
    </div>
</Layout>
