---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tomato Wilbur Yap">
    <h1>Hello</h1>
    <a href="/services/valorant">Valorant Services</a>
    <a href="/services/web-design">Web Design Services</a>
</Layout>
