---
import upArw from "./public/up-arw.svg";
---

<div id="tothetop" class="arw-div">
  <img class="up-arw-img" src="/up-arw.svg" alt="go up button" />
</div>

<style>
  .arw-div {
    padding: 0.5rem;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    display: none;
    background-color: white;
    border-radius: 25%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
  }

  .arw-div:hover {
    cursor: pointer;
  }

  .up-arw-img {
    width: 35px;
    height: 35px;
    color: white;
  }
</style>

<script>
  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0; // For Safari
    window.scrollTo({ top: 0, behavior: "smooth" }); // For Chrome, Firefox, IE and Opera
  }
  // Get the button:
  let mybutton = document.getElementById("tothetop");
  if (!mybutton) {
    console.log("Button not found");
  } else {
    mybutton.addEventListener("click", topFunction);
  }

  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function () {
    scrollFunction();
  };
  function scrollFunction() {
    if (!mybutton) {
      console.log("Button not found");

      return;
    }
    if (
      document.body.scrollTop > 20 ||
      document.documentElement.scrollTop > 20
    ) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  }
</script>
