---
import discordLogo from "./public/disc.svg?raw";
interface Props {
  href: string;
  icon: string;
  link: string;
}

const { href, icon } = Astro.props;
---

<div class="icon-div">
  <Fragment set:html={href} />
</div>

<style>
  .icon-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 50%;
    padding: 0.5rem;
    transition: all 0.3s;
    margin-left: 1rem;
  }

  .icon-div:hover {
    background-color: #7289da;
    cursor: pointer;
  }
  .icon-div svg {
    stroke: white;
  }
</style>
