---
import GoUpBtn from "../components/GoUpBtn.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;

const currentYear = new Date().getFullYear();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content="Tomato Wilbur Yap" />
    <meta
      name="description"
      content="Tomato Wilbur Yap, An Online Identity that messing in the online world. Not sure you get here, but here is all about him."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:title" content="Tomato Wilbur Yap" />
    <meta
      property="og:description"
      content="Tomato Wilbur Yap, An Online Identity that messing in the online world. Not sure you get here, but here is all about him."
    />
    <meta property="og:image" content="seo-image-link" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="" />
    <meta property="twitter:title" content="Tomato Wilbur Yap" />
    <meta
      property="twitter:description"
      content="Tomato Wilbur Yap, An Online Identity that messing in the online world. Not sure you get here, but here is all about him."
    />
    <meta property="twitter:image" content="seo-image-link" />

    <meta name="keywords" content="Tomato Wilbur Yap, Tomato Yap, Wilbur Yap" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />
    <meta name="author" content="Tomato Wilbur Yap" />
    <!-- icons and fonts -->
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link
      href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500"
      rel="stylesheet"
    />
    <link href="https://fonts.cdnfonts.com/css/valorant" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&family=Dosis:wght@200..800&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-gray-900 text-white scroll-smooth">
    <nav class="bg-gray-900 p-6">
      <div class="container mx-auto flex justify-between items-center">
        <a href="../valorant" class="text-2xl font-bold valo-font"> TOM </a>
        <div class="flex items-center">
          <a href="#features" class="mr-4 tracking-wider">Services</a>
          <a href="#testimonials" class="mr-4 tracking-wider">Testimonials</a>
          <a
            href="#cta"
            class="bg-red-600 hover:tracking-wider hover:bg-red-700 text-white font-bold py-3 px-6 rounded-lg mr-4 ease-in-out transition-all duration-300 hover:shadow-lg hover:scale-105 transform"
            >Contact</a
          >
        </div>
      </div>
    </nav>
    <slot />
    <GoUpBtn />
    <footer class="flex text-center justify-center items-center">
      <div class="text-gray-500">
        &copy; {currentYear} Tomato Wilbur Yap. All rights reserved.
      </div>
    </footer>
  </body>
  <style is:global>
    .valo-font {
      font-family: "VALORANT", sans-serif;
    }

    body {
      font-family: "Dosis", "Roboto", sans-serif;
    }

    :root {
      --v-red: #ff4655;
      --v-white: #ece8e1;
      --v-black: #0f1923;
      --v-outline: rgba(236, 232, 225, 0.5);
    }
  </style>
</html>

<script></script>
