---
import GoUpBtn from "../components/GoUpBtn.astro";
import ContactIcon from "../components/services/valorant/ContactIcon.astro";
import ViewTransitions from "astro/components/ViewTransitions.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;

const currentYear = new Date().getFullYear();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content="Tomato Wilbur Yap" />
    <meta
      name="description"
      content="Tomato Wilbur Yap, An Online Identity that messing in the online world. Not su``re you get here, but here is all about him."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:title" content="Tomato Wilbur Yap" />
    <meta
      property="og:description"
      content="Tomato Wilbur Yap, An Online Identity that messing in the online world. Not sure you get here, but here is all about him."
    />
    <meta property="og:image" content="seo-image-link" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="" />
    <meta property="twitter:title" content="Tomato Wilbur Yap" />
    <meta
      property="twitter:description"
      content="Tomato Wilbur Yap, An Online Identity that messing in the online world. Not sure you get here, but here is all about him."
    />
    <meta property="twitter:image" content="seo-image-link" />

    <meta name="keywords" content="Tomato Wilbur Yap, Tomato Yap, Wilbur Yap" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />
    <meta name="author" content="Tomato Wilbur Yap" />
    <!-- icons and fonts -->
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link
      href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500"
      rel="stylesheet"
    />
    <link href="https://fonts.cdnfonts.com/css/valorant" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&family=Dosis:wght@200..800&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <!-- View transition -->
    <!-- <ViewTransitions /> -->
    <title>{title}</title>
  </head>
  <body class="bg-gray-900 text-white scroll-smooth">
    <nav class="bg-gray-900 p-6">
      <div class="container mx-auto flex justify-between items-center">
        <a href="../valorant" class="text-2xl font-bold valo-font"> TOM </a>
        <div class="flex items-center">
          <a href="/services/valorant#features" class="mr-4 tracking-wider"
            >Services</a
          >
          <a href="/services/valorant#testimonials" class="mr-4 tracking-wider"
            >Testimonials</a
          >
          <a
            href="#cta"
            class="bg-red-600 hover:tracking-wider hover:bg-red-700 text-white font-bold py-3 px-6 rounded-lg mr-4 ease-in-out transition-all duration-300 hover:shadow-lg hover:scale-105 transform"
            >Contact</a
          >
        </div>
      </div>
    </nav>
    <slot />
    <!-- seperator -->
    <div class="my-5"></div>
    <!-- contact section -->
    <section class="bg-gray-900" id="cta">
      <div class="container mx-auto px-6 md:px-12 lg:px-16 xl:px-24">
        <h2
          class="text-4xl md:text-5xl lg:text-6xl font-bold mb-8 text-center text-white"
        >
          Contact Us
        </h2>
        <!-- putting my contacts icon here -->
        <p class="text-lg md:text-xl text-center mb-8 text-white">
          Ready to take your Valorant game to the next level? Get in touch with
          us today!
        </p>
        <div
          id="icon-box"
          class="flex flex-col gap-x-5 md:flex-row justify-center items-center"
        >
          <!-- icon pasted here -->
          <ContactIcon
            href="https://www.shopee.com.my"
            img="/services/valorant/svg/shopee-icon.svg"
          />
          <ContactIcon
            href="https://www.shopee.com.my"
            img="/services/valorant/svg/shopee-icon.svg"
          />
          <ContactIcon
            href="https://www.shopee.com.my"
            img="/services/valorant/svg/shopee-icon.svg"
          />
        </div>
      </div>
    </section>
    <!-- seperator -->
    <div class="my-5"></div>
    <footer class="flex text-center justify-center items-center">
      <div class="text-gray-500">
        &copy; {currentYear} Tomato Wilbur Yap. All rights reserved.
      </div>
    </footer>
    <GoUpBtn />
    <style is:global>
      .text-shadow-normal {
        text-shadow: 3px 4px 7px rgba(81, 67, 21, 0.8);
      }
      .valo-font {
        font-family: "VALORANT", sans-serif;
      }

      body {
        font-family: "Dosis", "Roboto", sans-serif;
      }

      :root {
        --v-red: #ff4655;
        --v-white: #ece8e1;
        --v-black: #0f1923;
        --v-outline: rgba(236, 232, 225, 0.5);
      }
    </style>
    <script></script>
  </body>
</html>
