---
import Navbar from "../components/services/web-design/Navbar.astro";
import ShowcaseScreenContact from "../components/services/web-design/ShowcaseScreenContact";
interface Props {
    title: string;
}

const { title } = Astro.props;

const currentYear = new Date().getFullYear();
---

<!doctype html>
<html lang="en" class="bg-web-background text-web-copy">
    <head>
        <!-- Google Tag Manager -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-09R411M0B3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-09R411M0B3');
</script>
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({
                    "gtm.start": new Date().getTime(),
                    event: "gtm.js",
                });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != "dataLayer" ? "&l=" + l : "";
                j.async = true;
                j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, "script", "dataLayer", "GTM-MCPZZ7K8");
        </script>
        <!-- End Google Tag Manager -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <!-- Primary Meta Tags -->
        <title>Tom Web Design Malaysia | Affordable Websites from RM500</title>
        <meta
            name="title"
            content="Tom Web Design Malaysia | Affordable Websites from RM500"
        />
        <meta
            name="description"
            content="Establish your online presence with a professional website without breaking the bank. We build websites for individuals and startups from RM500."
        />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta
            property="og:url"
            content="https://tomato.contact/services/web-design"
        />
        <meta
            property="og:title"
            content="Tom Web Design Malaysia | Affordable Websites from RM500"
        />
        <meta
            property="og:description"
            content="Establish your online presence with a professional website without breaking the bank. We build websites for individuals and startups from RM500."
        />
        <meta
            property="og:image"
            content="https://tomato.contact/services/web-design/banner.png"
        />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta
            property="twitter:url"
            content="https://tomato.contact/services/web-design"
        />
        <meta
            property="twitter:title"
            content="Tom Web Design Malaysia | Affordable Websites from RM500"
        />
        <meta
            property="twitter:description"
            content="Establish your online presence with a professional website without breaking the bank. We build websites for individuals and startups from RM500."
        />
        <meta
            property="twitter:image"
            content="https://tomato.contact/services/web-design/banner.png"
        />

        <meta
            name="keywords"
            content="web design Malaysia, web development malaysia, website design agency malaysia"
        />
        <meta name="robots" content="index, follow" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="English" />
        <meta name="author" content="Tomato Wilbur Yap" />
        <link rel="icon" type="image/svg+xml" href="/favicon.png" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <!-- font -->
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet"
        />
        <meta name="generator" content={Astro.generator} />
        <!-- View transition -->
        <title>{title}</title>
    </head>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "Product",
            "name": "Rahmah Website",
            "image": "https://tomato.contact/services/web-design/banner.png",
            "description": "Simple online website for individuals and businesses.",
            "brand": {
                "@type": "Brand",
                "name": "None"
            },
            "aggregateRating": {
                "@type": "AggregateRating",
                "ratingValue": "5",
                "bestRating": "5",
                "worstRating": "0",
                "ratingCount": "253"
            }
        }
    </script>

    <body>
        <Navbar />

        <slot />
        <section id="contact-section">
            <div class="flex flex-row justify-center items-center m-5">
                <div class="flex flex-col justfiy-center items-center w-1/2">
                    <h1
                        class="md:text-3xl text-xl font-bold text-web-copy mb-3"
                    >
                        Let's Work Together!
                    </h1>
                    <p
                        class="text-md md:text-xl text-web-copy-light text-center"
                    >
                        We're just a WhatsApp message away! Share your ideas and
                        requirements, and let our friendly team guide you
                        through the process.
                    </p>
                </div>
                <ShowcaseScreenContact client:load />
            </div>
        </section>
        <footer class="text-center text-web-copy-lighter">
            <!-- copyright -->
            <p>
                &copy; {currentYear}
                <a href="/about-me">Tomato Wilbur Yap.</a> All rights reserved.
            </p>
        </footer>
        <style is:global>
            html {
                scroll-behavior: smooth;
                overflow-x: hidden;
            }
            :root {
                --accent: 136, 58, 234;
                --accent-light: 224, 204, 250;
                --accent-dark: 49, 10, 101;
                --accent-gradient: linear-gradient(
                    45deg,
                    rgb(var(--accent)),
                    rgb(var(--accent-light)) 30%,
                    white 60%
                );
            }
            * {
                font-family: "Source Code Pro", "Roboto", sans-serif;
                margin: 0;
                padding: 0;
            }
        </style>
    </body>
</html>
