---
import WebDesignLayout from "../../../layouts/WebDesignLayout.astro";
---

<WebDesignLayout title="Cheap Website Design Malaysia Start from RM500">
    <div>prices</div>
    <!-- detail price card table-->
    <details class="flex flex-row">
        <summary class="list-none"> Preview </summary>
        <p>SMall Shits</p>
    </details>
    <!-- renewal price -->
    <!-- contact page -->
    <!-- extra add on -->
</WebDesignLayout>
